/* Themes -> Theme partial */

// General Styles
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
}

page {
    display: none;
    &.active {
        display: block;
        @include mq($until: tablet) {
            -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
            -webkit-transform-origin: 30% 50%;
            transform-origin: 30% 50%;
            -webkit-transition-delay: .5s;
            transition-delay: .5s;
            height: 100vh;
            -webkit-transition: all .5s ease .25s;
            transition: all .5s ease .25s;
        }
    }
    .pageOverlay {
        display: none;
    }
}

.content {
    max-width: 700px;
    margin: auto;
    padding-bottom: 50px;
}

.big-image {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    @include display-flex;
    @include flex-center-vertical;
    text-align: center;
    @include justify-content(center);
    color: $background-color;
    padding: 150px 0;
    @include mq($from: tablet) {
        height: 100vh;
        padding: 0;
    }
}

.bodyText {
    color: $body-color;
    max-width: 600px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
